<html>
<head>
    <title>TM File</title>

    <script>
        async function update(index){
            direction = document.getElementById('dir_' + index).value;
            source = document.getElementById('src_' + index).value;
            target = document.getElementById('tgt_' + index).value;

            // 发送翻译请求
            const res = await fetch("/tm/update", {
                method: "POST",
                body: JSON.stringify({direction: direction, source: source, target: target, index: index}),
                headers: { "Content-Type": "application/json" }}
            );

            trans_json = await res.json();
            if(res.ok){
                alert("OK");
            }
            else{
                alert(trans_json.error)
            }
        }
    </script>

    <style>
        table {
          border-collapse: collapse; //合并为一个单一的边框
          border-color: #dfe6ec; //边框颜色按实际自定义即可
        }
        thead tr th {
          background-color: #f8f8f9; //设置表格标题背景色
          padding: 8px;
          height: 36px;
        }
        tbody tr td {
          padding: 4px;
          height: 34px;  //设置单元格最小高度
        }
    </style>
</head>

<body>

<div style="text-align: center;">
    <h2>翻译记忆文件{{file}}共包含{{records | length}}条记录</h2>
    <div><a href="/tm/save/{{file}}">保存更改</a> | <a href="/tm/dedup/{{file}}">去掉重复</a> | <a href="/tm">返回首页</a></div>
</div>

<div>
<table border="1"width="100%">
    <thead>
    <tr>
        <th>语言对</th>
        <th>源语言文本</th>
        <th>目标语言文本</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for record in records %}
    <tr>
        <td width="60"><span id="dir_{{loop.index0}}">{{record.direction}}</span></td>
        <td><textarea rows="3" style="width: 99%;" id="src_{{loop.index0}}">{{record.source}}</textarea></td>
        <td><textarea rows="3" style="width: 99%;" id="tgt_{{loop.index0}}">{{record.target}}</textarea></td>
        <td width="120"><span style="margin-right: 4px;"><a href="/tm/delete/{{loop.index0}}/{{file}}">删除</a></span><span style="margin-right: 4px;"><a href="#" onclick="update({{loop.index0}});">更新</a></span></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

</body>
</html>