<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>其他翻译产品和服务</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 960px;
            margin: 0 auto;
            padding: 20px;
        }

        .footer {
            text-align: center;
        }

    </style>
</head>

<body>
    <div class="container">
        <div class="header"><a href="/"><img src="/static/img/yimt-logo.png" alt="LOGO"></a> </div>

        <h1 style="text-align: center;">其他产品和服务</h1>

        <div class="plugin">
            <h2>翻译插件</h2>
            <p>面向各种流行浏览器的翻译插件，包括Edge、Firefox、Chrome等。</p>
        </div>

        <div class="app">
            <h2>翻译APP</h2>
            <p>Android平台上翻译APP.</p>
        </div>

        <div>
            <h2>翻译模型定制</h2>
            <p>根据你的环境定制适合你的翻译模型.</p>
        </div>

        <div>
            <h2>本地部署</h2>
            <p>在本地部署和适用翻译服务，彻底保证你的隐私.</p>
        </div>

        <div>
            <h2>平行语料</h2>
            <p>提供给定语言方向的平行语料.</p>
        </div>

        <div class="footer">
            <div>
                <a target="_blank" href="/">服务条款</a>|<a target="_blank" href="/">关于YIMT</a>|<a target="_blank" href="/">联系我们</a>
            </div>
            <div>Copyright 2021-2024 by Liu Xiaofeng（刘小峰）</div>
        </div>
    </div>

    </div>

</body>
</html>