<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/common.css">

    <script src="../static/common_block.js" type="text/javascript"></script>

    <script>
        var API_KEY = "";
        var END_POINT = "http://127.0.0.1:5555";
        window.onload = function()
        {
            document.getElementById("settings").addEventListener("click", display_setting_func);

            var server = window.localStorage.getItem("server_url");
            var key = window.localStorage.getItem("key");
            API_KEY=key;
            if(!!server)
                END_POINT = server;

            var userAgentInfo = navigator.userAgent;
            var Agents = ["Android","iPhone","SymbianOS","Windows Phone","iPad","iPod"];
            var mobile = false;
            for(var v=0;v<Agents.length;v++)
            {
                if(userAgentInfo.indexOf(Agents[v])>0)
                {
                    mobile=false;
                    break;
                }
            }
            if(mobile)
                window.location.href="{{url_for('mobile')}}"

            request_languages();

            request_ad();  
        }


        var xhr;

        function uploadImage(){
            var fileObj = document.getElementById("select_image").files[0];
            var files = document.getElementById("select_image").files;
            if(files.length==0)
            {
                return;
            }
            source_lang = document.getElementById('source').value;
            target_lang = document.getElementById('target').value;

            END_POINT = window.localStorage.getItem("server_url");
            API_KEY = window.localStorage.getItem("key");
            if(END_POINT=="")
            {
                END_POINT = "http://127.0.0.1:5555";
            }
		    console.log(fileObj);
		    var form = new FormData();
		    form.append("file", fileObj);
		    form.append("source", source_lang);
		    form.append("target", target_lang);
            form.append("api_key", API_KEY);

		    var url = END_POINT + "/translate_image";
		    xhr = new XMLHttpRequest();
		    xhr.open("post", url, true);
		    xhr.onload = uploadComplete;
		    xhr.send(form);
        }

        function uploadComplete(evt) {
			//alert(evt.target.responseText);
			res_json = JSON.parse(evt.target.responseText);
			if(res_json.error){
			  alert(res_json.error);
			  return;
			}
			//alert(res_json)
			//alert(res_json.originalText);
            document.getElementById('q').value = res_json.originalText;
            document.getElementById('translation').value = res_json.translatedText;
		}

        async function translate_func(){
            qstr = document.getElementById('q').value;
            qstr = qstr.trim();
            if(qstr.length==0) return;

            source_lang = document.getElementById('source').value;
            target_lang = document.getElementById('target').value;

            // 翻译URL对应的页面
            //if(isUrl(qstr)) {
            //    window.location.href = "/translate_page?q=" + qstr + "&source=" + source_lang + "&target=" + target_lang;
            //    return;
            //}

            const res = await fetch(END_POINT + "/translate", {
                method: "POST",
                body: JSON.stringify({q: qstr, source: source_lang, target: target_lang, api_key:API_KEY, format: "text"}),
                headers: { "Content-Type": "application/json" }}
            );

            trans_json = await res.json();
            if(res.ok){
                //p = trans_json.translatedText.replace("\n", "<br>");
                document.getElementById('translation').value = trans_json.translatedText;
            }
            else{
                document.getElementById('translation').value = '';
                alert(trans_json.error)
            }

            request_ad();
        }

    </script>
    <title>YiMT Translation</title>
</head>

<body>
    <div class="settings_mask" id="settings_mask"></div>
    <div class="settings_block" id="settings_block">
        <label id="setting_title">翻译设置</label>
        <div id="translation_setting_block1">
            <label id="server_label">服务器：</label>
            <input type="text" class="server_url" id="server_url">
        </div>
        <div id="translation_setting_block2">
            <label id="api_key_label">API KEY：</label>
            <input type="text" class="api_key" id="api_key" placeholder="api_key">
        </div>
        <input type="button" class="url_setting_hide" value="关闭" onclick="close_setting_func()">
        <input type="button" class="url_setting_reset" id="url_setting_reset" value="设置" onclick="reset_setting_func()">
    </div>

    <div class="header_nav">
        <div class="nav_container" id="nav_container">
                <a href="/" class="nav_logo"></a>
                <div class="nav_urls">
                    <a target="_blank" href="/file">文档翻译</a><a href="/others" target="_blank">其他产品</a><a target="_blank" href="/">登录</a><a target="_blank" id="settings">设置</a>
                </div>  
        </div>
    </div>

    <div class="restriction">
        <div class="fanyi__operations">
            <div id="toolbar">
                <select id="source" name="source" class="source_select"></select>
                <span class="between_langs">-></span>
                <select id="target" name="target" class="target_select"></select>
                <input type="button" class="start_translate" id="start_translate" value="翻译" onclick='translate_func()'>
            </div>
        </div>

        <div class="fanyi__input">
            <div class="input__original">
                <div class="fanyi__input__bg">
                    <textarea id="q" name="q" rows="25" maxlength="1000" cols="50" class="input__original__area" placeholder="请输入要翻译的文字"></textarea>

                    <script>
                        document.getElementById("q").oninput = function() {myFunction();getc_num()};
                        function myFunction() {
                            document.getElementById("inputDelete").style.visibility='visible';
                            document.getElementById("target_copy").style.visibility='visible';
                            document.getElementById("words_count").style.visibility='visible';
                            if(document.getElementById("q").value=='')
                            {
                                document.getElementById("inputDelete").style.visibility='hidden';
                                document.getElementById("target_copy").style.visibility='hidden';
                                document.getElementById("words_count").style.visibility='hidden';
                            }
                        }
                        function getc_num()
                        {
                            document.getElementById("count").innerHTML=document.getElementById("q").value.length;
                        }
                    </script>

                    <a id="inputDelete" class="input__original_delete"></a>
                    <div id="words_count" class="words_count" style="visibility: hidden;">
                        <span id="count"></span>/1000
                    </div>
                    <script>
                        function clear_func()
                        {
                            document.getElementById("q").value='';
                            document.getElementById("translation").value='';
                            getc_num();
                        }
                        document.getElementById("inputDelete").addEventListener("click", clear_func);
                    </script>
                </div>
            </div>

            <div class="input__target">
                <div class="fanyi__input__bg">
                    <textarea id="translation" name="translation" rows="25" cols="50" readonly class="input__target__area"></textarea>
                    <a id="target_copy" class="target_copy"></a>
                    <div id="post_edit" class="post_edit"><input type="checkbox" id="check_edit" onchange="post_edit_click()" />允许编辑</div>
                </div>
                <script>
                    document.getElementById("target_copy").addEventListener("click", copy_func);

                    function copy_func()
                    { 
                        translation.select();
                        document.execCommand("Copy");
                    }

                    function post_edit_click()
                    {
                        let checked = document.getElementById("check_edit").checked;
                        document.getElementById("translation").readOnly=!checked;
                    }
                    
                </script>
            </div>
        </div>

    </div>

    <div class="bottom_block">
        <div class="ad_area" id="ad_area">
            <a class="ad_url" id="ad_url" target="_blank"></a>
        </div>
    </div>

    <div class="footer" id="footer">
        <div class="bottom__nav">
            <a target="_blank" href="/">服务条款</a>|<a target="_blank" href="/">关于YIMT</a>|<a target="_blank" href="/">联系我们</a>
        </div>
        <div>Copyright 2021-2024 by Liu Xiaofeng（刘小峰）</div>
    </div>

</body>
</html>